# Build results
bin/
obj/
out/

# project files
.vs/
.idea/
*.sln.iml

# NuGet packages
*.nupkg
*.snupkg
packages/
*.nuspec

# Logs
*.log

# Local environment files
.env*

# Rider settings
/MRSBackend.sln.DotSettings.user
